<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- https://github.com/spring-projects/spring-boot/blob/v1.5.13.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<property name="APP_NAME" value="gupiao" />
	<property name="LOG_PATH" value="${user.home}/logs/app" />
	<property name="LOG_FILE" value="${LOG_PATH}/application.log" />
	
	<logger name="org.apache" level="INFO" />
    <logger name="org.apache.http.wire" level="INFO" />
    <logger name="org.apache.http.headers" level="INFO" />


	<appender name="APPLICATION"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="REAL_TIME_MONITOR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/realTime.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/realTime.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<appender name="API_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/api.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/api.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<appender name="DINGTALK_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/dingtalk.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/dingtalk.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<appender name="MOCK_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/mock.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/mock.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="TASK_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/task.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/task.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<appender name="AI_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/ai.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/ai.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>1GB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<logger name="ai_log" level="INFO" additivity="false">
		<appender-ref ref="AI_LOG" />
	</logger>

	<logger name="task_log" level="INFO" additivity="false">
		<appender-ref ref="TASK_LOG" />
	</logger>
	
	<logger name="api_log" level="INFO" additivity="false">
		<appender-ref ref="API_LOG" />
	</logger>

	<logger name="mock_log" level="INFO" additivity="false">
		<appender-ref ref="MOCK_LOG" />
	</logger>

	<logger name="dingtalk_log" level="INFO" additivity="false">
		<appender-ref ref="DINGTALK_LOG" />
	</logger>
	<logger name="real_time" level="INFO" additivity="false">
		<appender-ref ref="REAL_TIME_MONITOR" />
	</logger>
	
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APPLICATION" />
	</root>
</configuration>