<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="Long" type="java.lang.Long" />
		<typeAlias alias="HashMap" type="java.util.HashMap" />
		<typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
		<typeAlias alias="ArrayList" type="java.util.ArrayList" />
		<typeAlias alias="LinkedList" type="java.util.LinkedList" />
		<typeAlias alias="guPiaoDo" type="com.example.model.GuPiaoDo" />
		<typeAlias alias="realTime" type="com.example.model.RealTimeDo" />
		<typeAlias alias="stockDo" type="com.example.model.StockDo" />
		<typeAlias alias="subscriptionDo" type="com.example.model.SubscriptionDo" />
		<typeAlias alias="tradingRecordDo" type="com.example.model.TradingRecordDo" />
		<typeAlias alias="robotAccountDo" type="com.example.model.RobotAccountDo" />
		<typeAlias alias="robotSetDo" type="com.example.model.RobotSetDo" />
		<typeAlias alias="historyStockDo" type="com.example.model.HistoryStockDo" />
		<typeAlias alias="holidayDo" type="com.example.model.HolidayDo" />
		<typeAlias alias="historyDayStockDo" type="com.example.model.HistoryDayStockDo" />
	</typeAliases>
</configuration>